@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header{
    display:flex;
    background-color: #252422;
    justify-content:center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px   100px 0px;
}
        
nav{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display:flex;
    width:70%;
    padding: 20px;
    justify-content:space-between;
}

.lcd{
    color: white;
    z-index: 0;
    background-color: #ffffff;
}

.lcd2{
    color: white;
    z-index: 1;
    font-size: 30px;
    border-radius: 10px;
}


#alterar-resi{
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color:#ffca3a;
    border-style: none;
    border-radius:7px;
    padding:7px;
    text-align:center;
    position:relative;
    top:10px;
    left:15%;
    width:20%;
    font-size: 20px;
}

#caixa1, #caixa2, #caixa0{
    padding:20px;
    font-family: 'Poppins', sans-serif;
    margin:5px;
    border-radius:7px;
    color:white;
}
    
#caixa1{
    background-color:#6a4c93;
}
    
#caixa0{
    background-color:#8ac926;
    color:white;
    width:20%;
    text-align:center;
}
    
#caixa2{
    background-color:#1982c4;
}
        
main{
    left:15%;
    width:70%;
    position:fixed;
    bottom:2vh;
}

input{
    border-radius: 10px;
    margin: 5px;
    border-style: none;
    padding: 5px;
}

.botao-up-or-down{
    border-radius: 50%;
    border-style: none;
    background-color: white;
    color: #252422;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 5px;
}

.seletores-resistencia, .seletores-resistencia-numerico{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itens-botoes{
    display: flex;
    align-items: center;
}
